<div class="section z-depth-1">
  <div class="row">
    <form name="contactForm" class="col s10 offset-s1" data-ng-submit="::contactDetail.onSubmit()">
      <div class="row">
        <div class="input-field col s12 m6">
          <input
            required
            type="text"
            id="firstname"
            class="validate"
            name="firstname"
            data-ng-model="contactDetail.contact.firstname" />

          <label for="firstname">Nombre</label>
        </div>

        <div class="input-field col s12 m6">
          <input
            type="text"
            id="lastname"
            name="lastname"
            data-ng-model="contactDetail.contact.lastname" />

          <label for="lastname">Apellido</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">
          <input
            id="alias"
            type="text"
            name="alias"
            data-ng-model="contactDetail.contact.alias" />

          <label for="alias">Apodo</label>
        </div>

        <div class="input-field col s12 m6">
          <input
            required
            type="tel"
            id="phoneNumber"
            class="validate"
            name="phoneNumber"
            pattern="\d{3}[- ]\d{3}[- ]\d{4}"
            data-ng-model="contactDetail.contact.phoneNumber" />

          <label for="phoneNumber">Teléfono</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12 input-field">
          <textarea
            id="address"
            name="address"
            class="materialize-textarea"
            data-ng-model="contactDetail.contact.address"></textarea>

          <label for="address">Dirección</label>
        </div>
      </div>
      <div class="row flex">
        <div class="col s8 flex items-center">
          <button
            data-ng-disabled="contactForm.$invalid || contactDetail.loading"
            class="waves-effect waves-light btn-large">
              {{ contactDetail.createMode ? "Crear Contacto" : "Editar Contacto" }}
          </button>

          <div
            class="preloader-wrapper small active push-left-15"
            data-ng-if="contactDetail.loading">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s4 flex items-center">
          <button
            type="button"
            data-ng-if="!contactDetail.createMode"
            data-ng-click="contactDetail.delete()"
            class="red-text text-darken-2 right btn-flat">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
