<nav>
  <div class="nav-wrapper container">
    <a ui-sref="agenda.index" class="brand-logo">Agenda</a>
  </div>
</nav>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="auth-form z-depth-1 col s12 m8 offset-m2" data-ui-view></div>
    </div>
  </div>
</div>
