<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Lugar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-hide="::eventList.events.length">
      <td colspan="4">No tiene ningún evento en su lista.</td>
    </tr>

    <tr data-ng-repeat="evento in ::eventList.events">
      <td data-ng-bind="::evento.name"></td>
      <td data-ng-bind="::evento.date | date:'dd-mm-yyyy'"></td>
      <td data-ng-bind="::evento.place"></td>
      <td>
        <a class="right" data-ui-sref="agenda.events.detail({ id: evento.id })">
          <i class="material-icons">edit_mode</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
