<form name="signinForm" class="col s10 offset-s1" data-ng-submit="::signup.authenticate()">
  <div class="row">
    <div class="col s12">
      <h4>Registro</h4>
    </div>
  </div>

  <div class="row" data-ng-show="signup.error">
    <div class="error-message">
      <p data-ng-bind="signup.error.message"></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input
        required
        type="text"
        id="username"
        name="username"
        class="validate"
        data-ng-model="signup.username" />

      <label for="username">Usuario</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input
        required
        id="password"
        name="password"
        type="password"
        class="validate"
        data-ng-model="signup.password" />

      <label for="password">Contaseña</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input
        required
        id="password2"
        type="password"
        name="password2"
        class="validate"
        data-ng-model="signup.password2"
        data-ng-class="{ 'invalid': signup.invalidPassword() }" />

      <label for="password">Repetir Contaseña</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <button
        data-ng-disabled="signinForm.$invalid || signup.invalidPassword()"
        class="waves-effect waves-light btn-large">Registrarse</button>
    </div>

    <div class="col s12">
      <p>o <a ui-sref="auth.signin">acceda con su cuenta</a></p>
    </div>
  </div>
</form>
