#agenda-content
  margin 0
  padding 0
  width 100%
  height 100%
  box-sizing border-box

  color #424242

  .error-message
    color white
    padding 10px
    box-sizing border-box
    background-color #F44336

    p
      margin 0

  .flex
    display flex

    &.items, .items
      &-center
        align-items center
      &-start
        align-items flex-start
      &-end
        align-items flex-end

    &.right, .right
      margin-left auto !important

  .push-left-15
    margin-left 15px
