<div class="row">
  <div class="col s12 l6">
    <div class="row">
      <h4>Contactos Recientes</h4>
    </div>

    <contact-list
      class="row"
      data-contacts="::index.recentContacts"
      data-display-mode="required"></contact-list>
  </div>

  <div class="col s12 l6">
    <div class="row">
      <h4>Próximos Eventos</h4>
    </div>

    <event-list
      class="row"
      data-events="::index.recentEvents"
      data-display-mode="required"></event-list>
  </div>
</div>
