<nav>
  <div class="nav-wrapper container">
    <a ui-sref="agenda.index" class="brand-logo">Agenda</a>

    <a href="#" data-activates="mobile-nav" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li data-ng-repeat="nav in ::agenda.nav" ui-sref-active="active">
        <a ui-sref="{{ ::nav.sref }}" data-ng-bind="::nav.text"></a>
      </li>
    </ul>

    <ul class="side-nav" id="mobile-nav">
      <li data-ng-repeat="nav in ::agenda.nav" ui-sref-active="active">
        <a ui-sref="{{ ::nav.sref }}" data-ng-bind="::nav.text"></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="section">
    <div class="row">
      <div data-ui-view></div>
    </div>
  </div>
</div>
