<div class="row events-header">
  <h2 data-ng-bind="events.header"></h2>

  <div
    class="fixed-action-btn"
    data-ng-if="events.canCreate">
    <a
      data-ui-sref="agenda.events.new"
      class="btn-floating btn-large waves-effect waves-light">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>


<div class="row" data-ui-view></div>
