<div class="row contacts-header">
  <h2 data-ng-bind="contacts.header"></h2>

  <div
    class="fixed-action-btn"
    data-ng-if="contacts.canCreate">
    <a
      data-ui-sref="agenda.contacts.new"
      class="btn-floating btn-large waves-effect waves-light">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>


<div class="row" data-ui-view></div>
