<form name="signinForm" class="col s10 offset-s1" data-ng-submit="::signin.authenticate()">
  <div class="row">
    <div class="col s12">
      <h4>Log in</h4>
    </div>
  </div>

  <div class="row" data-ng-show="signin.error">
    <div class="error-message">
      <p data-ng-bind="signin.error.message"></p>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input
        required
        type="text"
        id="username"
        name="username"
        class="validate"
        data-ng-model="signin.username" />

      <label for="username">Usuario</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input
        required
        id="password"
        name="password"
        type="password"
        class="validate"
        data-ng-model="signin.password" />

      <label for="password">Contaseña</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <button
        data-ng-disabled="signinForm.$invalid"
        class="waves-effect waves-light btn-large">Iniciar Sesión</button>
    </div>

    <div class="col s12">
      <p>o <a ui-sref="auth.signup">crée una cuenta</a></p>
    </div>
  </div>
</form>
