<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-hide="::contactList.contacts.length">
      <td colspan="4">No tiene ningún contacto en su lista.</td>
    </tr>

    <tr data-ng-repeat="contacto in ::contactList.contacts">
      <td data-ng-bind="::contacto.alias"></td>
      <td data-ng-bind="::contacto.fullname"></td>
      <td data-ng-bind="::contacto.phoneNumber"></td>
      <td>
        <a class="right" data-ui-sref="agenda.contacts.detail({ id: contacto.id })">
          <i class="material-icons">edit_mode</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
