<div class="section z-depth-1">
  <div class="row">
    <form name="eventForm" class="col s10 offset-s1" data-ng-submit="::eventDetail.onSubmit()">
      <div class="row">
        <div class="input-field col s12 m6">
          <input
            required
            type="text"
            id="name"
            class="validate"
            name="name"
            data-ng-model="eventDetail.event.name" />

          <label for="name">Nombre</label>
        </div>

        <div class="input-field col s12 m6">
          <input
            required
            id="date"
            type="date"
            name="date"
            data-ng-model="eventDetail.event.date" />

          <label for="date">Fecha</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            required
            type="text"
            id="place"
            class="validate"
            name="place"
            data-ng-model="eventDetail.event.place" />

          <label for="place">Lugar</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12 input-field">
          <textarea
            id="desc"
            name="desc"
            class="materialize-textarea"
            data-ng-model="eventDetail.event.desc"></textarea>

          <label for="desc">Descripción</label>
        </div>
      </div>
      <div class="row flex">
        <div class="col s8 flex items-center">
          <button
            data-ng-disabled="eventForm.$invalid || eventDetail.loading"
            class="waves-effect waves-light btn-large">
              {{ eventDetail.createMode ? "Crear Evento" : "Editar Evento" }}
          </button>

          <div
            class="preloader-wrapper small active push-left-15"
            data-ng-if="eventDetail.loading">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s4 flex items-center">
          <button
            type="button"
            data-ng-if="!eventDetail.createMode"
            data-ng-click="eventDetail.delete()"
            class="red-text text-darken-2 right btn-flat">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
